<a href="https://colab.research.google.com/github/MeghanaSriram/2216167_AIML_Bootcamp_2023/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1 string methods

s1="hello, I am Learning Python along with gradstellar"

print(s1[0])
print(s1[::2][:2:-1])
print(s1.upper())
print(s1.lower())
print(s1.rstrip())
print(s1.lstrip())
print(s1.capitalize())
print(s1.title())
print(s1.split(' '))
print(s1.startswith("me"))
print("-".join(s1))

h
altdr twgoanhy nnaLm
HELLO, I AM LEARNING PYTHON ALONG WITH GRADSTELLAR
hello, i am learning python along with gradstellar
hello, I am Learning Python along with gradstellar
hello, I am Learning Python along with gradstellar
Hello, i am learning python along with gradstellar
Hello, I Am Learning Python Along With Gradstellar
['hello,', 'I', 'am', 'Learning', 'Python', 'along', 'with', 'gradstellar']
False
h-e-l-l-o-,- -I- -a-m- -L-e-a-r-n-i-n-g- -P-y-t-h-o-n- -a-l-o-n-g- -w-i-t-h- -g-r-a-d-s-t-e-l-l-a-r

In [ ]:
#2 List Methods

l1=[1,2.0,'meghana',[2,4,6],"mellow","meghana",(8,10,11),{9,3,5},9*18]
l2=["l2","items",100]

print(l1)
print(l1[::-1])
print(l1[2][::-1])
print(l1.remove("meghana"),l1)
print(l1.pop(4))
print(l2)
print(l2.clear(),l2)
print(l2.insert(0,"Damon"),l2)
print(l2.append("klaus"),l2)
print(l2)
print(l2.insert(1,"wednesday"),l2)
print(l1.extend(l1),l1)
print("#".join(l2))

[1, 2.0, 'meghana', [2, 4, 6], 'mellow', 'meghana', (8, 10, 11), {9, 3, 5}, 162]
[162, {9, 3, 5}, (8, 10, 11), 'meghana', 'mellow', [2, 4, 6], 'meghana', 2.0, 1]
anahgem
None [1, 2.0, [2, 4, 6], 'mellow', 'meghana', (8, 10, 11), {9, 3, 5}, 162]
meghana
['l2', 'items', 100]
None []
None ['Damon']
None ['Damon', 'klaus']
['Damon', 'klaus']
None ['Damon', 'wednesday', 'klaus']
None [1, 2.0, [2, 4, 6], 'mellow', (8, 10, 11), {9, 3, 5}, 162, 1, 2.0, [2, 4, 6], 'mellow', (8, 10, 11), {9, 3, 5}, 162]
Damon#wednesday#klaus

In [ ]:
#3 tuple methods

t1=(1,2.0,"meghana",[2,4,6],(9,7,5),"meghana")
t2=("hello","Iam","learning","python")
print(t1[::-1])
print(t1)
print(t1.count("meghana"))
print(t1.index([2,4,6]))
print("--".join(t2))
#print(t1.append("Hello")) ---tuples are immutable

('meghana', (9, 7, 5), [2, 4, 6], 'meghana', 2.0, 1)
(1, 2.0, 'meghana', [2, 4, 6], (9, 7, 5), 'meghana')
2
3
hello--Iam--learning--python

In [ ]:
#4 Dictionary methods

d1={"Name":"meghana", 1:'2',"[1,2,3]":(4,5,6),2.0:"robo",(9,8):"ph"} #list can't be key but tuple can
print(d1)
print(d1.fromkeys("Name"))
print(d1.get("1"))
print(d1.items())
print(d1.keys())
print(d1.pop("[1,2,3]"))
print(d1.update({"up":"date"}))
print(d1.values())
d2={"1":"hello","2":"world","3":[1,2,3]}
print("#".join(d2))

{'Name': 'meghana', 1: '2', '[1,2,3]': (4, 5, 6), 2.0: 'robo', (9, 8): 'ph'}
{'N': None, 'a': None, 'm': None, 'e': None}
None
dict_items([('Name', 'meghana'), (1, '2'), ('[1,2,3]', (4, 5, 6)), (2.0, 'robo'), ((9, 8), 'ph')])
dict_keys(['Name', 1, '[1,2,3]', 2.0, (9, 8)])
(4, 5, 6)
None
dict_values(['meghana', '2', 'robo', 'ph', 'date'])
1#2#3

In [ ]:
#5 set methods

a={18,2,83,"hello",(1,9,3),2.0,3.0,1} #list cannot be a set element
b={2,"hello",19}
print(a)
print(a.add("meghana"),a)
print(a.difference(b))
print(a.discard(18),a)
print(a.intersection(b))
print(a.isdisjoint(b))
print(a.issubset(b))
print(a.symmetric_difference(b))
print(a.union(b))
print(a.update(b),a)
c={"hello","world","!!!"}
print("%".join(c))

{1, 2, 3.0, (1, 9, 3), 18, 83, 'hello'}
None {1, 2, 3.0, 'meghana', (1, 9, 3), 18, 83, 'hello'}
{1, 3.0, 'meghana', (1, 9, 3), 18, 83}
None {1, 2, 3.0, 'meghana', (1, 9, 3), 83, 'hello'}
{2, 'hello'}
False
False
{1, 3.0, 'meghana', (1, 9, 3), 19, 83}
{1, 2, 3.0, 'meghana', (1, 9, 3), 83, 19, 'hello'}
None {1, 2, 3.0, 'meghana', (1, 9, 3), 83, 19, 'hello'}
!!!%world%hello

In [ ]:
#6 decimal to Binary
a=123
print(bin(a))

#Octal to hexadecimal
x=0o42
print(hex(x))

0b1111011
0x22

In [ ]:
#7 Arithmatic operators

a=int(input("Enter first integer"))
b=int(input("Enter Second integer"))

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a**b)

Enter first integer10
Enter Second integer3
13
7
30
3.3333333333333335
3
1000

In [ ]:
#8 assignment operators
a=int(input("Enter first integer"))
b=int(input("Enter Second integer"))

c=a+b 
print(c)
c-=a 
print(c)
c*=a
print(c)
c/=a
print(c)
c//=a
print(c)
c**=a
print(c)

15
5
50
5.0
0.0
0.0

In [ ]:
#9 Comparision operators

a=int(input("Enter first integer"))
b=int(input("Enter Second integer"))

print(a==b)
print(a<=b)
print(a>=b)
print(a<<b)
print(a>>b)
print(a!=b)

Enter first integer10
Enter Second integer10
True
True
True
10240
0
False

In [ ]:
#10 logical operators
x=True
y=False
print("x and y is:",x and y)
print("x or y is:",x or y)
print("not y is:",not y)

x and y is: False
x or y is: True
not y is: True

In [ ]:
#11 bitwise operators
a=12
b=14

print(a&b) #AND
print(a|b) #OR
print(~a) #NOT
print(a^b) #XOR
print(a>>2) #leftshift
print(a<<2) #rightshift

12
14
-13
2
3
48

In [ ]:
#12 membership operators
x="hello world"
print("w" in x)
print("t" not in x)

True
True

In [ ]:
#13 identity operators
x1=4
y1=5
x2="meghana"
y2="meghana"
x3=[12,42,32]
y3=[12,42,32]
print(x1 is not y1)
print(x2 is y2)
print(x3 is y3)

True
True
False

In [4]:
#14 negative indexing for list and applying slicing
t1 = [9,7,5,3,10,2,8]
print(t1[-1])
print(t1[-4])
print(t1[-1:-8:-2])

8
3
[8, 10, 5, 9]

In [ ]:
#15
print('A series of characters designated as one object known as a string'[::-1][4::3])
print('-----------------------')
print('Welcome to Pyhton traing program'[3:10][::-1])

taawkcbe  tgestrcoeeA
-----------------------
ot emoc

In [ ]:
#16 
p_phrase="was it a car or a cat I saw"
print(p_phrase[::-1].upper())

WAS I TAC A RO RAC A TI SAW

In [ ]:
#17 ZOO
x=int(input("Enter an integer")) 
y=2*x
print('Z'*x+'O'*y)

Enter an integer3
ZZZOOOOOO