<a href="https://colab.research.google.com/github/MeghanaSriram/2216167_AIML_Bootcamp_2023/blob/main/Day_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Arithmatic operators

a=5
b=3

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a**b)

8
2
15
1.6666666666666667
1
125

In [2]:
#comparision operators
a==b
a<=b
a>=b
a<<b
a>>b
a!=b

True

In [3]:
#assignment operators
a=10
b=5

c=a+b
c-=a
c*=a
c/=a
c//=a
c**=a

In [4]:
#logical operators
x=True
y=False
print("x and y is:",x and y)
print("x or y is:",x or y)
print("not y is:",not y)

x and y is: False
x or y is: True
not y is: True

In [5]:
#bitwise operators
a=13
b=14

print(a&b) #and
print(a|b) #or
print(~a) #compliment
print(a^b) #
print(a>>2) #leftshift
print(a<<2) #rightshift

12
15
-14
3
3
52

In [6]:
#membership operators
x="hello world"
print("w" in x)

True

In [7]:
#identity operators
x1=5
y1=5
x2="hello"
y2="hello"
x3=[1,2,3]
y3=[1,2,3]
print(x1 is not y1)
print(x2 is y2)
print(x3 is y3)

False
True
False

In [8]:
a=int(input("enter a number"))
print(a)

b=input("enter string")
print(b)

enter a number42
42
enter stringmeghana
meghana

In [9]:
#strings

str="Hello World"

#indexing
print(str[0])
print(str[-1])

#slicing
#from:to(n-1:2)
print(str[0:7:2])

#reverse string
print(str[::-1])

#string methods
my_str = " Iam Learning python "
print(my_str.upper())
print(my_str.lower())
print(my_str.rstrip())
print(my_str.lstrip())

H
d
HloW
dlroW olleH
 IAM LEARNING PYTHON
 iam learning python
 Iam Learning python
Iam Learning python

In [10]:
#string formats
name="Meghana"
Language="Python"
year=2023
print(name,"is learning", Language,"programming in",year)

#format
print("{2} is learning {1} programming is {0}".format(year,Language,name))

#placeholder
print("%s is learning %s programming in %d"%(name,Language,year))

#rawstring 'f'
print(f"{name} is learning {Language} programming in {year}")

Meghana is learning Python programming in 2023
Meghana is learning Python programming is 2023
Meghana is learning Python programming in 2023
Meghana is learning Python programming in 2023

In [11]:
#lists
my_list=[1,2,3,4]
my_list1=[1,"hello",'3.0']
my_list2=["apple",'cherry',"mango"]

#indexing
print(my_list[2])
print(my_list[-1])

#slicing
print(my_list[:3])

#nested list
N_list=["dragonfruit",my_list,my_list[1]]

print(N_list[0][0:6])

#list method
my_list.append(5)
print(my_list)

l1=[1,2,3,4,5,6,7,12,2,9]
print(l1.count(4))
print(len(l1))
print(l1[::-1])

l1.reverse()
print(l1)

l1.sort()
print(l1)

3
4
[1, 2, 3]
dragon
[1, 2, 3, 4, 5]
1
10
[9, 2, 12, 7, 6, 5, 4, 3, 2, 1]
[9, 2, 12, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 2, 3, 4, 5, 6, 7, 9, 12]

In [12]:
l1=[1,2,3,4] 
l2=l1
l3=[1,2,3,4]

print(l1==l2)
print(l1==l3)

print(id(l1),id(l2),id(l3))

print(l1 is l2)
print(l1 is l3)

True
True
140642454430528 140642454430528 140642454430016
True
False

In [13]:
set1={2,8,5}
a=[1,2,3]
b=set(a)
b
c=list(set1)
c

[8, 2, 5]