<a href="https://colab.research.google.com/github/MeghanaSriram/2216167_AIML_Bootcamp_2023/blob/main/Day_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#tuples
my_tup=(1,2,3,4,2)
my_tup1=("hi",1.1,5)

N_tup=("Hello",my_tup,my_tup1)

print(N_tup[-1][-1])

#tuple methods

print(my_tup.count(2))
print(my_tup.index(2))
print(max(my_tup))
print(min(my_tup))
print(len(my_tup))

5
2
1
4
1
5

In [1]:
#sets
s1={1,2,3,4}
s2={1,2.0,"hi"}

l={1,3,5,7}
print(l)
s3=set(l)
print(s3)

#set methods
s1.add(5)
print(s1)

s1.update([7,8])
print(s1)

s1.discard(3) 
print(s1)

s1.remove(4)

{1, 3, 5, 7}
{1, 3, 5, 7}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 7, 8}
{1, 2, 4, 5, 7, 8}

In [5]:
#set operation
a={1,3,4,5}
b={5,0,2,4}

#union
print(a|b)
print(a.union(b))
print(b.union(a))

#intersection
print(a&b)
print(b.intersection(a))
print(a.intersection(b))

#difference
print(a.difference(b))
print(b.difference(a))

{0, 1, 2, 3, 4, 5}
{0, 1, 2, 3, 4, 5}
{0, 1, 2, 3, 4, 5}
{4, 5}
{4, 5}
{4, 5}
{1, 3}
{0, 2}

In [ ]:
set1={2,8}
set2={2,7}
set3={2,10}
a=[1,2,3]
b=set(a)
b
c=list(set1)
d=list(set2)
e=list(set3)
print(c,d,e)

[8, 2] [2, 7] [2, 10]

In [ ]:
#dictionaries
d1={"name":"Meghana",2:'english'}
print(d1['name'],d1[2])

Meghana english

In [ ]:
print('A series of characters designated as one object known as a string'[::-1][4::3])
print('-----------------------')
print('Welcome to Pyhton traing program'[3:10][::-1])

taawkcbe  tgestrcoeeA
-----------------------
ot emoc

In [ ]:
pp="was it a car or a cat I saw"
print(pp[::-1].upper())

WAS I TAC A RO RAC A TI SAW

In [ ]:
def genStr(x):
    print('Z'*x+'O'*2*x)
    
genStr(int(input()))

2
ZZOOOO

In [ ]:
#decimal to binary
x=42
print(bin(x))
print(hex(x))
print(oct(x))

0b101010
0x2a
0o52

In [ ]:
x='A'
y=66
print(ord(x))
print(chr(y))

65
B