<a href="https://colab.research.google.com/github/MeghanaSriram/2216167_AIML_Bootcamp_2023/blob/main/Day_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#decision making

#if statement
var=100
if var>0:
  print("TRUE")
  print(var)

#if-else statment
var=-1
if var>0:
  print("true")
else:
  print("false")

#nested if statements
age=int(input("Enter age:"))

if age>0:
  if age>0 and age<=2:
    print("free ticket")
  elif age>2 and age<15:
    print("Half ticket")
  elif age>=15 and age<60:
    print("full ticket")
  elif age>=60:
    print("discounted ticket")

TRUE
100
false
Enter age:19
full ticket

In [ ]:
#loops
numbers=[1,2,3,4,5,6,7,8,9,10]
for i in range(1,11,2):
  print(i)

1
3
5
7
9

In [ ]:
#while loop
count=1
while count<11:
  print(count,end=" ")
  count=count+1

1 2 3 4 5 6 7 8 9 10

In [ ]:
#nested loop

#nested for
x=[[1,7,8],[2,3,4],[9,8,3]]
y=[[1,2,3],[4,5,6],[5,3,2]]
res=[[0,0,0],[0,0,0],[0,0,0]]

for i in range(len(x)):
  for j in range(len(x[0])):
    res[i][j]=x[i][j]+y[i][j]
for r in res:
  print(r)

[2, 9, 11]
[6, 8, 10]
[14, 11, 5]

In [ ]:
#nested while loop
n=int(input("Enter until which table you need"))
i=1
while i<=n:
  print(f"table {i}")
  j=1
  while j<=10:
    print(f"{i}*{j}={i*j}")
    j=j+1
  print("__________________")
  i=i+1

Enter until which table you need7
table 1
1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
__________________
table 2
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
__________________
table 3
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
__________________
table 4
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40
__________________
table 5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50
__________________
table 6
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60
__________________
table 7
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
7*10=70
__________________

In [ ]:
#control statements

#break
for q in "Hello world":
  if q=="l":
    break
  print(q,end="")
print("\n")
#continue
for q in "Hello world":
  if q=="h":
    continue
  print(q,end="")
print("\n")
#pass
for q in "hello world":
  if q=="h":
    pass
    print("this is a pass block")
  print(q,end="")

He

Hello world

this is a pass block
hello world

In [ ]:
#functions

def greet(word):
  '''this function greets a person'''
  print("hello, \t"+word +"\t good morning")
greet("sir")

hello 	sir	 good morning

In [ ]:
#default 
def A(a,b=1,c=2):
  return a+b+c

print(A(3))
print(A(4,4,4))

6
12

In [ ]:
#keyword
def A(a,b=1,c=2):
  return a+b+c

print(A(a=2,b=3))
print(A(c=3,a=1,b=2))

7
6

In [ ]:
#positional
def A(a,b,c):
  return a+b+c

print(A(10,20,30))

60

In [ ]:
#arbitrary positional
def add_num(*n):
  print(sum(n))

add_num(1,3,4,5,6,7,8,9,10)

53

In [ ]:
#arbitrary keywords
def key_args(**kwargs):
  return kwargs

m_d=key_args(Apples=30,Banana=40,Cherries=50)
print(m_d['Apples'])
print(m_d)

30
{'Apples': 30, 'Banana': 40, 'Cherries': 50}

In [3]:
#higher order functions
def shout(text):
  return text.upper()

def whisper(text):
  return text.lower()

def explain(func):
  print(func("Hello! I am learning python along with GradStellar"))

explain(shout)
explain(whisper)

HELLO! I AM LEARNING PYTHON ALONG WITH GRADSTELLAR
hello! i am learning python along with gradstellar